<p>Here you will find some pictures from some of my travels across the country. Photos are on a {{pictureDelay}}ish second rotation. May be a blurry one here and there, I'm not a photographer!</p>

<kendo-stacklayout [gap]="15" [orientation]="orientation">
    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div style="width:50%">
                <h1 kendoCardTitle>Cedar Point</h1>
            </div>

            <div style="width:50%; display:flex; flex-direction: row; justify-content: flex-end;">
                <kendo-label text="Pause">
                    <kendo-switch  [(ngModel)]='cedarPause'>    
                    </kendo-switch>
                </kendo-label>

                <div style="width:20%"></div>
                <button class="k-button-clear iconButton" (click)="openImage('cedarpoint')" title="Open Image">
                    <fa-icon [icon]="faUpRightFromSquare"></fa-icon>
                </button>
            </div>
        </kendo-card-header>
        
        <kendo-scrollview
                    #cedarpoint
                    [data]="pictureData.get('CedarPoint') ?? []"
                    [width]="scollViewWidth"
                    [height]="scollViewHeight"
                    [arrows]="true"
                    [endless]="true"
                    >
                    <ng-template let-item="item">
                        <img
                        src="{{item}}"
                        [ngStyle]="{ width:'100%'}"
                        draggable="false"
                        />
                    </ng-template>
                </kendo-scrollview>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div style="width:50%">
                <h1 kendoCardTitle>King's Island</h1>
            </div>

            <div style="width:50%; display:flex; justify-content: flex-end;">
                <kendo-label text="Pause">
                    <kendo-switch  [(ngModel)]='kingsPause'>    
                    </kendo-switch>
                </kendo-label>

                <div style="width:20%"></div>
                <button class="k-button-clear iconButton" (click)="openImage('kingsisland')" title="Open Image">
                    <fa-icon [icon]="faUpRightFromSquare"></fa-icon>
                </button>
            </div>
        </kendo-card-header>

        <kendo-scrollview
                    #kingsisland
                    [data]="pictureData.get('KingsIsland') ?? []"
                    [width]="scollViewWidth"
                    [height]="scollViewHeight"
                    [arrows]="true"
                    [endless]="true"
                    >
                    <ng-template let-item="item">
                        <img
                        src="{{item}}"
                        [ngStyle]="{ width:'100%'}"
                        draggable="false"
                        />
                    </ng-template>
                </kendo-scrollview>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div style="width:50%">
                <h1 kendoCardTitle>Washington</h1>
            </div>

            <div style="width:50%; display:flex; justify-content: flex-end;">
                <kendo-label text="Pause">
                    <kendo-switch  [(ngModel)]='washingtonPause'>    
                    </kendo-switch>
                </kendo-label>

                <div style="width:20%"></div>
                <button class="k-button-clear iconButton" (click)="openImage('washington')" title="Open Image">
                    <fa-icon [icon]="faUpRightFromSquare"></fa-icon>
                </button>
            </div>
        </kendo-card-header>

        <kendo-scrollview
                    #washington
                    [data]="pictureData.get('Washington') ?? []"
                    [width]="scollViewWidth"
                    [height]="scollViewHeight"
                    [arrows]="true"
                    [endless]="true"
                    >
                    <ng-template let-item="item">
                        <img
                        src="{{item}}"
                        [ngStyle]="{ width:'100%'}"
                        draggable="false"
                        />
                    </ng-template>
                </kendo-scrollview>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div style="width:50%">
                <h1 kendoCardTitle>Dollywood</h1>
            </div>

            <div style="width:50%; display:flex; justify-content: flex-end;">
                <kendo-label text="Pause">
                    <kendo-switch  [(ngModel)]='dollywoodPause'>    
                    </kendo-switch>
                </kendo-label>

                <div style="width:20%"></div>
                <button class="k-button-clear iconButton" (click)="openImage('dollywood')" title="Open Image">
                    <fa-icon [icon]="faUpRightFromSquare"></fa-icon>
                </button>
            </div>
        </kendo-card-header>

        <kendo-scrollview
                    #dollywood
                    [data]="pictureData.get('Dollywood') ?? []"
                    [width]="scollViewWidth"
                    [height]="scollViewHeight"
                    [arrows]="true"
                    [endless]="true"
                    >
                    <ng-template let-item="item">
                        <img
                        src="{{item}}"
                        [ngStyle]="{ width:'100%'}"
                        draggable="false"
                        />
                    </ng-template>
                </kendo-scrollview>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div style="width:50%">
                <h1 kendoCardTitle>Branson</h1>
            </div>

            <div style="width:50%; display:flex; justify-content: flex-end;">
                <kendo-label text="Pause">
                    <kendo-switch  [(ngModel)]='bransonPause'>    
                    </kendo-switch>
                </kendo-label>

                <div style="width:20%"></div>
                <button class="k-button-clear iconButton" (click)="openImage('branson')" title="Open Image">
                    <fa-icon [icon]="faUpRightFromSquare"></fa-icon>
                </button>
            </div>
        </kendo-card-header>

        <kendo-scrollview
                    #branson
                    [data]="pictureData.get('Branson') ?? []"
                    [width]="scollViewWidth"
                    [height]="scollViewHeight"
                    [arrows]="true"
                    [endless]="true"
                    >
                    <ng-template let-item="item">
                        <img
                        src="{{item}}"
                        [ngStyle]="{ width:'100%'}"
                        draggable="false"
                        />
                    </ng-template>
                </kendo-scrollview>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div style="width:50%">
                <h1 kendoCardTitle>Chicago</h1>
            </div>

            <div style="width:50%; display:flex; justify-content: flex-end;">
                <kendo-label text="Pause">
                    <kendo-switch  [(ngModel)]='chicagoPause'>    
                    </kendo-switch>
                </kendo-label>

                <div style="width:20%"></div>
                <button class="k-button-clear iconButton" (click)="openImage('chicago')" title="Open Image">
                    <fa-icon [icon]="faUpRightFromSquare"></fa-icon>
                </button>
            </div>
        </kendo-card-header>

        <kendo-scrollview
                    #chicago
                    [data]="pictureData.get('Chicago') ?? []"
                    [width]="scollViewWidth"
                    [height]="scollViewHeight"
                    [arrows]="true"
                    [endless]="true"
                    >
                    <ng-template let-item="item">
                        <img
                        src="{{item}}"
                        [ngStyle]="{ width:'100%'}"
                        draggable="false"
                        />
                    </ng-template>
                </kendo-scrollview>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div style="width:50%">
                <h1 kendoCardTitle>Michigan</h1>
            </div>

            <div style="width:50%; display:flex; justify-content: flex-end;">
                <kendo-label text="Pause">
                    <kendo-switch  [(ngModel)]='michiganPause'>    
                    </kendo-switch>
                </kendo-label>

                <div style="width:20%"></div>
                <button class="k-button-clear iconButton" (click)="openImage('michigan')" title="Open Image">
                    <fa-icon [icon]="faUpRightFromSquare"></fa-icon>
                </button>
            </div>
        </kendo-card-header>

        <kendo-scrollview
                    #michigan
                    [data]="pictureData.get('Michigan') ?? []"
                    [width]="scollViewWidth"
                    [height]="scollViewHeight"
                    [arrows]="true"
                    [endless]="true"
                    >
                    <ng-template let-item="item">
                        <img
                        src="{{item}}"
                        [ngStyle]="{ width:'100%'}"
                        draggable="false"
                        />
                    </ng-template>
                </kendo-scrollview>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div style="width:50%">
                <h1 kendoCardTitle>Mammoth Cave</h1>
            </div>

            <div style="width:50%; display:flex; justify-content: flex-end;">
                <kendo-label text="Pause">
                    <kendo-switch  [(ngModel)]='mammothPause'>    
                    </kendo-switch>
                </kendo-label>

                <div style="width:20%"></div>
                <button class="k-button-clear iconButton" (click)="openImage('mammothcave')" title="Open Image">
                    <fa-icon [icon]="faUpRightFromSquare"></fa-icon>
                </button>
            </div>
        </kendo-card-header>

        <kendo-scrollview
                    #mammothcave
                    [data]="pictureData.get('MammothCave') ?? []"
                    [width]="scollViewWidth"
                    [height]="scollViewHeight"
                    [arrows]="true"
                    [endless]="true"
                    >
                    <ng-template let-item="item">
                        <img
                        src="{{item}}"
                        [ngStyle]="{ width:'100%'}"
                        draggable="false"
                        />
                    </ng-template>
                </kendo-scrollview>
    </kendo-card>

</kendo-stacklayout>