<p>Welcome to the new and improved Slirb.net. This site is now an Angular app. Please have patience while construction is finished!</p>

<kendo-stacklayout [gap]="15" [orientation]="orientation">
    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle>About</h1>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            <p>Still under construction!</p>
        </kendo-card-body>
        <kendo-card-actions layout="center">
            <button kendoButton fillMode="flat" themeColor="primary">
                See About
            </button>
        </kendo-card-actions>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle>Experience</h1>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            <p>Want to see my work history and skills obtained during my career so far? Visit this section to find out more!</p>
        </kendo-card-body>
        <kendo-card-actions layout="center">
            <button kendoButton fillMode="flat" themeColor="primary" routerLink="/experience" routerLinkActive="active" ariaCurrentWhenActive="page">
                See Experience
            </button>
        </kendo-card-actions>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
        <div>
            <h1 kendoCardTitle>Projects</h1>
        </div>
        </kendo-card-header>
        <kendo-card-body>
            <p>Interested in some projects I've done? Visit here to find out more information.</p>
        </kendo-card-body>
        <kendo-card-actions layout="center">
            <button kendoButton fillMode="flat" themeColor="primary" routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">
                See Projects
            </button>
        </kendo-card-actions>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
        <div>
            <h1 kendoCardTitle>Travel</h1>
        </div>
        </kendo-card-header>
        <kendo-card-body>
            <p>I love to travel to see new things, gaze at vistas, visit amusement parks, and just take in the sights and sounds of different parts of the US. Here you can find images from some of my adventures so far.</p>
        </kendo-card-body>
        <kendo-card-actions layout="center">
            <button kendoButton fillMode="flat" themeColor="primary" routerLink="/travel" routerLinkActive="active" ariaCurrentWhenActive="page">
                See Travel
            </button>
        </kendo-card-actions>
    </kendo-card>

    <!--
    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
        <div>
            <h1 kendoCardTitle>Cooking</h1>
        </div>
        </kendo-card-header>
        <kendo-card-body>
            <p>I love to travel to see new things, gaze at vistas, visit amusement parks, and just take in the sights and sounds of different parts of the US. Here you can find images from some of my adventures so far.</p>
        </kendo-card-body>
        <kendo-card-actions layout="center">
            <button kendoButton fillMode="flat" themeColor="primary" routerLink="/travel" routerLinkActive="active" ariaCurrentWhenActive="page">
                See Cookbook
            </button>
        </kendo-card-actions>
    </kendo-card>
    -->
</kendo-stacklayout>

<!--
<p>Bonus car picture. Not mine, although I do own one in this exact color.</p>
<div>
    <img id="landingImage" class="img-responsive" src=imageSource style="width: 100%; height:100%">
</div>
-->
