<p>Welcome to the new and improved Slirb.net. This site is now an Angular app and will become the home of many great things to come!</p>

<kendo-stacklayout [gap]="15" [orientation]="orientation">
    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle>About</h1>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            <p>Be a little blog-ish place where I can put personal life stuff. Hobbies, goals, relationship/pet status, etc.</p>
        </kendo-card-body>
        <kendo-card-actions layout="center">
            <button kendoButton fillMode="flat" themeColor="primary">
                See About
            </button>
        </kendo-card-actions>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle>Experience</h1>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            <p>Be a living resume of my skillset and things I've implemented at work. Technologies and stacks used, software skills, etc.</p>
        </kendo-card-body>
        <kendo-card-actions layout="center">
            <button kendoButton fillMode="flat" themeColor="primary" routerLink="/experience" routerLinkActive="active" ariaCurrentWhenActive="page">
                See Experience
            </button>
        </kendo-card-actions>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
        <div>
            <h1 kendoCardTitle>Projects</h1>
        </div>
        </kendo-card-header>
        <kendo-card-body>
            <p>Show off some of my old/current projects. Direct links to github, pictures, etc</p>
        </kendo-card-body>
        <kendo-card-actions layout="center">
            <button kendoButton fillMode="flat" themeColor="primary" routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">
                See Projects
            </button>
        </kendo-card-actions>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
        <div>
            <h1 kendoCardTitle>Travel</h1>
        </div>
        </kendo-card-header>
        <kendo-card-body>
            <p>I love to travel to see new things, gaze at vistas, visit amusement parks, and just take in the sights and sounds of different parts of the US. Here you can find images from some of my adventures so far.</p>
        </kendo-card-body>
        <kendo-card-actions layout="center">
            <button kendoButton fillMode="flat" themeColor="primary" routerLink="/travel" routerLinkActive="active" ariaCurrentWhenActive="page">
                See Travel
            </button>
        </kendo-card-actions>
    </kendo-card>
</kendo-stacklayout>


<p>Bonus car picutre. Not mine, although I do own one in this exact color. </p>
<div>
    <img id="landingImage" class="img-responsive" src=imageSource style="width: 100%; height:100%">
</div>
