
<h1>Tech Skills</h1>
<kendo-stacklayout [gap]="15" [orientation]="orientation">
    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle>Languagues</h1>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            <p> C#</p>
            <p> Java</p>
            <p> Progress ABL (OpenEdge)</p>
            <p> TypeScript</p>
            <p> JavaScript</p>
            <p> Python</p>
        </kendo-card-body>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle>IDE's</h1>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            <p> Visual Studio</p>
            <p> Visual Studio Code</p>
            <p> NetBeans</p>
            <p> Android Studio</p>
            <p> Developer Studio (OpenEdge)</p>
            <p> App Builder (OpenEdge)</p>
        </kendo-card-body>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle>Flavors of Git</h1>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            <p> Github</p>
            <p> GitLab</p>
            <p> Bitbucket</p>
        </kendo-card-body>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle>API Stuff</h1>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            <p> REST</p>
            <p> SOAP</p>
            <p> JSON</p>
            <p> Postman</p>
        </kendo-card-body>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle>Databases</h1>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            <p> Progress</p>
            <p> SQL</p>
            <p> Postgres</p>
        </kendo-card-body>
    </kendo-card>
</kendo-stacklayout>

<h1>Work Experience & Schooling</h1>
<kendo-stacklayout [gap]="15" [orientation]="orientation">
    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle>Software Development Engineer - B&L Information Systems</h1>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            
                <p>Primary duties in an Agile environment are:</p>

                <li style="padding-left: 10px;">
                    Fixing and Enhancing the ERP software suite.
                    
                </li>

                <li style="padding-left: 10px;">
                    Use Progress Appbuilder and Dev Studio to debug and make
                    alterations to the code.
                </li>

                <li style="padding-left: 10px;">
                    Fix issues that occur in our C# and Angular front end.
                </li>

                <li style="padding-left: 10px;">
                    Use customer feedback and internal requests to design,
                spec, and code enhancements.
                </li>

                <li style="padding-left: 10px;">
                    Maintain and create internal tools to improve the
                development process.
                </li>

                <li style="padding-left: 10px;">
                    Design and architect brand new frameworks when
                rewriting legacy code
                </li>

                <li style="padding-left: 10px;">
                    Primary developer on the customer and internal API
                endpoints.
                </li>

                <li style="padding-left: 10px;">
                    Develop API using both C# .NET and Progress code.
                </li>

                <li style="padding-left: 10px;">
                    Providing second level support to internal resources.
                </li>
        </kendo-card-body>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle>Teachers Assistant</h1>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            <p>Teachers assistant for a C++ class. Helped teach students the material, provided homework assistance, and graded homework.</p>
        </kendo-card-body>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle>Self-Employed Tech Support</h1>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            <p>Provided tech support for various different electronic devices. PC, Mac, phones, household electronics, etc. Also repaired pcs and household electronics.</p>
        </kendo-card-body>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle>Other jobs I've done</h1>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            <p>Landscaping</p>
            <p>Food Service</p>
            <p>Census Enumerator</p>
        </kendo-card-body>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle>Purdue Northwest</h1>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            <p> BS - Computer and Information Technology</p>
        </kendo-card-body>
    </kendo-card>

    <kendo-card width="auto">
        <kendo-card-header class="k-hstack">
            <div>
                <h1 kendoCardTitle>Culver Community Jr/Sr High School</h1>
            </div>
        </kendo-card-header>
        <kendo-card-body>
            <p>High School</p>
        </kendo-card-body>
    </kendo-card>
</kendo-stacklayout>