<p>Work experience</p>

<p>Tech:
    Self-Employed Tech Support
    Teachers Assistant
    Software Development Engineer - B&L Information Systems
</p>

<p>Other:
    Landscaping
    Food Service
    Census
</p>

<p>Got Skills?</p>

<p>Languagues!
    C#
    Java
    Progress ABL (OpenEdge)
    TypeScript
    JavaScript
    Python
</p>

<p>You want IDE's? I have them.
    Visual Studio
    Visual Studio Code
    NetBeans
    Android Studio
    Developer Studio (OpenEdge)
    App Builder (OpenEdge)
</p>

<p>Git!
    Github
    GitLab
    Bitbucket
</p>

<p>API's!
    REST
    SOAP
    JSON
    Postman
</p>

<p>Databases!
    Progress
    SQL
    Postgres    
</p>


<p>Schooling:
    High School - Culver Community Jr/Sr High School
    BS - Computer and Information Technology - Purdue Northwest    
</p>